
@import 'mixins';
@import 'variables';
@import 'typography';
@import 'common';
@import 'buttons';
@import 'templates/navigation';
@import 'templates/main';

.azul {
    background-color: rgb(26, 64, 99);
    
}
.shad{
    background-color: rgb(238, 183, 66);
   
}

.greybtn{
    background-color: rgb(224, 224, 224);
}
.square{
    list-style-type: square ;
    color:orange;
    padding-top:10px;padding-bottom:10px;
  
}
li span{color:#555; 
}
.padding {margin-bottom: 30px;}
.orange{color:rgb(26, 64, 99)}
@media (min-width:769px ) and (max-width:1024px)  {
.block{
    display: block;
    width:220vw;
    justify-content: center;
    align-items: center;
}}

@media (min-width:300px ) and (max-width:824px)  {
    
.mapgoogle{
   display:flex;
}}
@media (min-width:400px ) and (max-width:764px)  {
    .ts-service-box-bg{margin-bottom: 50px;};
   }
